body {
    background-color: rgb(139, 231, 231);
    padding: 0px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: none;
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    text-align: center;
    perspective: 1000px;
    min-width: 275px;
}

.card:hover {
    cursor: pointer;
}

.card img {
    width: 275px;
    margin: 10px;
}

.card-title-english, .card-title-spanish {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 2rem;
}

.hidden {
    display: none;
}